{% extends "Pacientes/header.html" %}
{% load user_tags %} 

{% block content %}
    
    <h1 style="color:aliceblue"><strong>Consultas Registradas:</strong>
      {% if request.user|has_group:"SEC"%}
      <a class="btn btn-default" href="{% url 'consultation_new' %}">Agregar nueva</span></a>
      {% endif %}
    </h1>

     <table class="egt" style="color:aliceblue">
        {% if consultations%}
        <tr> 
          <th>Fecha</th>
          <th>Hora</th>
          <th>Doctor</th>
          <th>Paciente</th>
        </tr>
        {% for consultation in consultations %}
        <tr>
          <td>{{consultation.date}}</td>
          <td>{{consultation.time}}</td>
          <td>{{consultation.doctor}}</td>
          <td>{{consultation.patient}}</td>
          {% if request.user|has_group:"SEC"%}
          <td><a class="btn btn-default" href="{% url 'consultation_edit' consultation.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          {% endif %}
          {% if request.user|has_group:"DOC"%}
          <td><a class="btn btn-default" href="{% url 'consultation_medic_edit' consultation.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          {% endif %}
        </tr>
        {% endfor %}
        {% else %}
            <h2 style="color:aliceblue">No hay consultas...</h2>
        {% endif %}
      </table>

{% endblock %}