{% extends "Pacientes/header.html" %}


{% block content %}



<div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
        <h2 style="color:aliceblue">Ni políticas, ni avisos, ni Cookies. Proyecto didáctico - Curso PoloTIC - </h2>
    </div>
    <div class="col-6 col-md-4"></div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
            <table class="table" style="color:aliceblue">  
                <thead class="thead-dark">
                    <tr> 
                        <th>Alumnos</th>
                      </tr>
                </thead>
                <tr>
                    <td>Skrauba, Axel</td>
                </tr>
                <tr>
                    <td>Castañeda, Rodrigo</td>
                </tr>
                <tr>
                    <td>Polich, Francisco</td>
                </tr>
            </table>
        </div>
        <div class="col-6 col-md-4"></div>
    </div>
</div>
{% endblock %}