<html>

  <head>
  
      {% load static %}
      {% load user_tags %} 
  
      <!-- Bootstrap -->
      <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      
  
       <!-- Fonts -->
      
       <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
       <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
       
  
      <!-- Styles -->
      <link href="{% static '/css/patients.css' %}" rel="stylesheet">
  </head>
  
  <body>
  
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        
          <span class="site-heading-lower">Clínica de Optometría - PoloTIC2020</span>
        </h1>

        <h2 style="color:aliceblue">
          <span class="site-heading-lower">Bienvenido: "{{user.first_name.title }} {{user.last_name.title }}"</span>
        </h2>
  
  
   <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'index' %}">Menú</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == 'index' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}">Inicio</a>
          </li>
          {% if request.user|has_group:"VEN" or request.user|has_group:"GER"%}
          <li class="nav-item {% if request.path == 'product' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'product' %}">Productos</a>
          </li>
          <li class="nav-item {% if request.path == 'order' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'order' %}">Pedidos</a>
          </li>
          {% endif %}
          {% if request.user|has_group:"GER"%}
          <li class="nav-item {% if request.path == 'doctor' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'doctor' %}">Doctores</a>
          </li>
          <li class="nav-item {% if request.path == 'doctor' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'doctor_gerency' %}">Confirmar Rol Doctores</a>
          </li>
          <li class="nav-item {% if request.path == 'report' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'report' %}">Reportes</a>
          </li>
          {% endif %}
          {% if request.user|has_group:"TAL"%}
          <li class="nav-item {% if request.path == 'order_workshop' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'order_workshop' %}">Pedidos</a>
          </li>
          {% endif %}
          {% if request.user|has_group:"SEC" or request.user|has_group:"GER"%}
          <li class="nav-item {% if request.path == 'consultation' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'consultation' %}">Consultas</a>
          </li>
          {% endif %}
          {% if request.user|has_group:"DOC"%}
          <li class="nav-item {% if request.path == 'consultation' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'consultation_medic' %}">Consultas</a>
          </li>
          {% endif %}
          {% if request.user|has_group:"SEC"%}
          <li class="nav-item {% if request.path == 'patient' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'patient' %}">Pacientes</a>
          </li>
          {% endif %}
          {% if request.user|has_group:"DOC"%}
          <li class="nav-item {% if request.path == 'patient' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'patient_medic' %}">Pacientes</a>
          </li>
          {% endif %}
          <li>
            <a class="nav-link text-uppercase text-expanded" href="{% url 'logout' %}">Salir</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  
    {% block content %}


    {% endblock %}
  
  
      <!-- Footer -->
      <footer class="footer text-faded text-center py-5">
        <div class="container">
          <p class="m-0">
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="#" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
        </p>
          <p class="m-0 mbt">
            <a href="{% url 'default' %}" class="link">Política de privacidad</a> ·
            <a href="{% url 'default' %}" class="link">Aviso legal</a> ·
            <a href="{% url 'default' %}" class="link">Cookies</a>
      </p>
          <p class="m-0 mbt1">&copy; Gestión de Clínica 2020</p>
        </div>
    </footer>
  
      <!-- Bootstrap -->
      <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  </body>
  
  
  </html>