{% extends "Pacientes/header.html" %}
{% load user_tags %}

{% block content %}
    
    <h1 style="color:aliceblue"><strong>Pacientes Registrados:</strong>
      {% if request.user|has_group:"SEC"%}
      <a class="btn btn-default" href="{% url 'patient_new' %}">Agregar nuevo</span></a>
      {% endif %}
    </h1>

     <table class="table" style="color:aliceblue">
        {% if patients%}
        <thead class="thead-dark">
        <tr> 
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
          <th>Email</th>
        </tr>
      </thead>
        {% for patient in patients %}
        <tr>
          <td>{{patient.first_name}}</td>
          <td>{{patient.last_name}}</td>
          <td>{{patient.dni}}</td>
          <td>{{patient.email}}</td>
          {% if request.user|has_group:"SEC"%}
          <td><a class="btn btn-default" href="{% url 'patient_edit' patient.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          {% endif %}
          {% if request.user|has_group:"DOC"%}
          <td><a class="btn btn-default" href="{% url 'patient_medic_edit' patient.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          {% endif %}
        </tr>
        {% endfor %}
        {% else %}
            <h2 style="color:aliceblue">No hay pacientes...</h2>
        {% endif %}
      </table>

{% endblock %}