{% extends "Pacientes/header.html" %}
{% load user_tags %}

{% block content %}
    
    <h1 style="color:aliceblue"><strong>Reportes Disponibles:</strong></h1>
      {% if request.user|has_group:"GER"%}
      <br>
      <tr>
        <a class="btn btn-default" href="{% url 'patient_asist' %}">Asistencia de Pacientes</span></a>
      </tr>
      <tr>
        <a class="btn btn-default" href="{% url 'patient_not_asist' %}">Inasistencia de Pacientes</span></a>
      </tr>
      <tr>
        <a class="btn btn-default" href="{% url 'patient_order' %}">Pedidos de Pacientes</span></a>
      </tr>
      <tr>
        <a class="btn btn-default" href="{% url 'product_most_selled' %}">Productos más Vendidos</span></a>
      </tr>
      <tr>
        <a class="btn btn-default" href="{% url 'sales_month_seller' %}">Ventas por Vendedor por Mes</span></a>
      </tr>
      {% else %}
      <h2 style="color:aliceblue">Debe pertenecer al grupo GERENCIA.</h2>
      {% endif %}
    

{% endblock %}