{% extends "Pacientes/header.html" %}
{% load user_tags %}

{% block content %}
    
    <h1 style="color:aliceblue"><strong>Ventas totales por Mes, por Vendedor:</strong></h1>
      {% if request.user|has_group:"GER"%}

      <table class="table" style="color:aliceblue">
        {% if sales%}
        
        {% for month, sellers in sales.items %} 
             <h1 style="color:aliceblue">{{month}}</h1>
             <thead class="thead-dark">
             <tr> 
              <th>Vendedor</th>
              <th>Ventas realizadas</th>
            </tr>
          </thead>
             {% for seller, count in sellers.items %} 
             <tr> 
              <th>{{seller}}</th>
              <th>{{count}}</th>
            </tr>
             {% endfor %}
        {% endfor %}
        {% else %}
            <h2 style="color:aliceblue">No hay productos vendidos...</h2>
        {% endif %}
      </table>

      {% else %}
      <h2 style="color:aliceblue">Debe pertenecer al grupo GERENCIA.</h2>
      {% endif %}
    

{% endblock %}